body, html{
    height:100%;
    margn:0;
    padding:0;
}

.fullHeight{
    min-height:100%;height:100%;
}

.leftCol {padding:0; background-color:#444444; }
.leftCol header {background-color:#2ecc71; padding:15px; height:70px;}
.leftCol header h1 {margin:0;}
.leftCol header i.fa {float:right; color:#ffffff; margin:16px 0 0 0;}

.mainNav {  color:#888888; padding:15px;}
.mainNav .usuarios { padding:10px; margin:0px 0 20px;}
.mainNav .usuarios p { font-weight:bold;}
.mainNav .usuarios ul { padding:0; margin:0; }
.mainNav .usuarios li { display: inline-block;  margin-right:5px; }
.userPic {width:27px; height:27px;background-color:#666666; border-radius: 14px;}
.mainNav .usuarios li.addUser { float:right; background:url(../images/icons/icon-add-big.png) left top no-repeat;width:27px; height:27px;}
.mainNav nav { margin-bottom:40px;}
.mainNav nav a { display: block;background-color:#444444; color:#888888; border:none; padding:15px 10px 15px 50px; text-align:left; font-weight:bold; text-decoration:none;}
.mainNav nav a.iconVisao { background:url(../images/icons/icon-visao-geral.png) 10px center no-repeat; }
.mainNav nav a.iconColaboradores { background:url(../images/icons/icon-colaboradores.png) 10px center no-repeat; }
.mainNav nav a.iconMatricular { background:url(../images/icons/icon-matricular-colaboradores.png) 10px center no-repeat; }
.mainNav nav a.iconHistorico { background:url(../images/icons/icon-historico-compras.png) 10px center no-repeat; }
.mainNav nav a.iconAndamento { background:url(../images/icons/icon-andamento-cursos.png) 10px center no-repeat; }
.mainNav nav a.iconAdministradores { background:url(../images/icons/icon-administadores.png) 10px center no-repeat; }
.mainNav nav a:hover { background-color:#3b3b3b; color:#00cc7b; border-radius:4px;}
.mainNav a.btn-comprarCurso {display: block;text-decoration:none; border-radius:40px; background-color:#fff; color:#333; padding:6px; text-align:center; margin:0 10px;}

.rightCol {padding:0; background-color:#f1f1f1;}
.rightCol header {background-color:#fff; padding:15px; height:70px;}
.rightCol header h2 {font-size:1.25em; margin:10px 0 0 30px;}
.rightCol header .loggedIn {width:200px; float:right; margin:0 15px 0 0; border-radius:25px; border:1px solid #999; padding:3px;}
.rightCol header .loggedIn .fa-chevron-down {float: right; margin:10px 10px 0 0;color:#999999;}
.rightCol header .userPic {display:inline-block; width:36px; height:36px; background-color:#999999; vertical-align:middle; margin:0 10px 0 0;border-radius:40px;}
.rightCol header .fa-bell-o { margin:13px 20px 0 0; float: right; font-size:1.6em; font-weight: bold; color:#999999;position: relative; }
.rightCol header .notificationsNum {background-color:#ff0826; border-radius:10px; display:block; width:16px; height:16px; color: #fff; position: absolute; top: -8px; left: 10px; font-size:0.5em; text-align:center; line-height:16px;}

.rightCol section { background-color:#ffffff; margin:30px; border-radius:4px;}
.rightCol form { padding:20px;}
.searchControl {width:68%;}
..form-control {}
#search {width:99% !important; background-image:url(../images/icons/icon-pesquisa.png); background-position:99% center; background-repeat:no-repeat}
.convidarColaborador {width:30%; text-align: right;}
.btn-verde {border-radius:25px; background-color: #37cc71; color: #ffffff; border: none;}

.rightCol .table { color:#999;}
.rightCol .table td { vertical-align: middle;}
.rightCol .table thead td {padding: 30px 8px; font-weight:bold;font-size:0.8em;}
.rightCol .table tbody { background-color:#f9f9f9;}
.rightCol .table tbody a {border-radius:30px; padding: 3px 5px; border:1px solid #999; color:#999; text-decoration: none;}
.rightCol .table tbody a i {margin-left: 5px;}
.rightCol .table tfoot  td { text-align:center; font-size:0.8em; padding:20px 0;}

.paginador a {color:#666666; text-decoration:none; margin:0 5px;}
.paginador span {background-color:#f1f1f1;border-radius:15px; }

.paginador .disabled {color:#dadada;}
.paginador .enabled {color:#666666;}
.paginador .selected {color:#fff; background-color:#2ecc71;border-radius:15px; padding:4px 8px;}
.paginador .selected.first {margin-left:0;}
.paginador .selected.last {margin-right:0;}
